# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


# C++ ve Qt Derleme Çıktıları
build/
bin/
*.o
*.obj
*.exe
Makefile
*.pro.user
moc_*.cpp
ui_*.h
qrc_*.cpp

# Python ve Sanal Ortam
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Veri Setleri ve Modeller (GitHub'a atılmaz, çok yer kaplar)
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# IDE Klasörleri
.vscode/
.idea/
*.swp